module.exports = {
    // listen port
    bind_port: 9001,
    
    // Git repo
    repo_name: 'yourgithubid/example',
    
    // Remove repo & branch
    repo_remote: 'origin master',
    
    // repo location
    repo_location: '/var/www/some_site',
    
    // anything need to do? leave empty if nothing left to do.
    additional_cmd: 'pm2 reload 0'
} 
